@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --foreground-color: #c9c9c9;
    --background-color: #11121a;
    --highlight-color: lightgreen;
    --selection-color: aquamarine;
    --border-radius: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: "Montserrat", sans-serif;
    /* font-family: "Winky Rough", sans-serif; */
    font-optical-sizing: auto;
    font-size: 1.3rem;
    line-height: 1.5;
    /* letter-spacing: 1px; */
    -webkit-smooth-font-synthesis: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.hamburger {
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: var(--foreground-color);
    border-radius: var(--border-radius);
}

.hamburger.open > .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.open > .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open > .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

a {
    text-decoration: none;
    color: var(--foreground-color);
}

.left a {
    font-size: 1.5rem;
    font-weight: 800;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

li {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
}

li.active {
    background-color: var(--highlight-color);

    & a {
        color: var(--background-color);
    }
}

li:not(.active):hover {
    background-color: var(--selection-color);

    & a {
        color: var(--background-color);
    }
}

ul a {
    font-weight: 500;
    width: inherit;
}

/* responsive design */
/* tablet */
@media only screen and (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    header {
        padding: 10px;
    }
}

/* mobile */
@media only screen and (max-width: 600px) {
    body {
        font-size: 1rem;
    }

    .hamburger {
        display: flex;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        gap: 5px;
    }
}
